nav {
	background-color: black;
	height: 50px;
	padding-top: 20px;
	margin-top: -15px;
	margin-left: -8px;
	margin-right: -8px;
	display: block;




}

#body {
	


}

ul {
	color: lightgrey;
	
	display: inline-block;
	list-style-type: none;
	margin-left: 50px;
	padding: 0;

}

li {
	padding: 15px;
	display: inline;
}


#logo {
	display: inline-block;
	float: left;
	margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 10px;
	margin-left: 100px;

}

.social_networks {
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}



#shadow {
	margin-top: -20px;

}

#box {
	text-align: center;
	border: 2px solid lightgrey;
	display: inline-block;
	position: relative;
	margin-bottom: 50px;
}

#request {
	float: right;
	position: absolute;
}

.background {
	height: ;
	width: ;
}

#request {
	float: right;
}

#container {
	display: inline-block;
	float: left;

}



